.container{
  margin:0 auto;
  height: 670px;
  max-width: 100%;
  width: 800px;
  background-color: rgba(173, 216, 230, 0.46);
  padding:0.5px;
  
}

h1{
  text-align: center;
  font-family: "Kdam Thmor Pro" ;
  font-size: 2.5em;
  padding: 15px;
  margin:10px;
  margin-bottom: 0; 
  background-color: rgba(128, 128, 128, 0.5);
  color:black;
  font-weight: 100;
  border-radius: 5px;
  border:2px solid grey;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.img_wrap{
  background-color: orangered;
  border: 5px solid grey;
  border-left: 3px solid grey;
  border-right: 3px solid grey;
  padding: 10px;
  max-width: 100%;
  height: 140px;
  margin:10px;
  margin-top:0;
  margin-bottom:0;
  overflow:hidden;
}

.main_img{
  border-radius: 7px;
  clip-path: circle(44.1% at 51% 42%);
  position: relative;
  float:left;
  overflow: hidden;
  margin:10px;
  margin-bottom:0;
}

.img_wrap h2{
  width: 500px;
  text-align: center ;
  margin:auto;
  margin-top: 55px;
  margin-bottom: 50px;
  font-size: 2em;
  letter-spacing: 0px;
  word-spacing: 3px;
}

.navbar{
  margin:10px;
  margin-top: 0;
  margin-bottom: 0;
  padding:15px;
  text-align: center;
  border:2px solid grey;
}

.navbar a{
  position: relative;
  padding: 15px;
  text-decoration: none;
  color:black;
  font-family: cursive;
  text-align: center;
  font-size: 1.1em;
}

.navbar a:hover{
  color: rgba(209, 138, 5, 0.926);
}

.sub-head{
  margin: 0px;
  padding: 20px;
  border:2px solid grey;
  font-size: 2em !important;
  margin-left: 10px;
  margin-right: 10px;
}

.main-content{
  max-width: 100%;
  margin:10px;
  margin-top: 0 !important;
  height: 170px;
  border: 2px solid grey;
  border-top: 3px solid grey;
  padding:30px 60px;
  position: relative;
}

.social-wrap{
  text-align: center;
}
.social-wrap img{
  height: 100px;
  padding:40px;
}


/* Responsive CSS 426-768 Tablet*/


@media screen and (min-width:426px) and (max-width:768px){
  .container{
    height: 630px;
  }

  h1{
    font-size: 2em;
  }

  .img_wrap{
    padding-left: 20px;
  }

  .main_img{
    height: 150px;
  }
  
  .img_wrap h2{
    font-size: 1.7em;
  }

  .navbar{
    padding:20px;
  }
  
  .navbar a{
    padding: 10px;
    font-size: 1.1em;
  }

  .sub-head{
    margin: 0px;
    padding: 20px;
    border:2px solid grey;
    font-size: 2em !important;
    margin-left: 10px;
    margin-right: 10px;
  }

  .main-content{
    max-width: 100%;
    margin:10px;
    margin-top: 0 !important;
    height: 130px;
    border: 2px solid grey;
    border-top: 3px solid grey;
    padding:30px 20px;
    position: relative;
  }
  
  .social-wrap{
    text-align: center;
  }
  .social-wrap img{
    height: 70px;
    padding:30px;
  }
}

/* NExt media screen 376-426 mobile large*/ 


@media screen and (min-width:376px) and (max-width:426px)
{
  .container{
    height: 480px;
    margin:0;
   }
 
  h1{
     font-size: 1.3em;
     margin: 0;
   }
  
  .img_wrap{
    padding-left:1px;
    height: 100px;
    margin:0;
  }
  
  .main_img{
    height: 100px;
  }
    
  .img_wrap h2{
    font-size: 1em;
    width: 330px;
    margin:0;
    margin-left: 10px;
    margin-top: 40px;
  }
  
  .navbar{
    padding:2px;
    margin:0;
  }
    
  .navbar a{
    padding: 3px;
    font-size: 0.7em;
    line-height: 3;
  }

  .sub-head{
    margin:0px;
    padding:20px;
    border:2px solid grey;
    font-size: 1.5em !important;
  }

  .main-content{
    max-width: 100%;
    margin:0px;
    margin-top: 0 !important;
    height: 90px;
    border: 2px solid grey;
    border-top: 3px solid grey;
    padding:30px 20px;
    position: relative;
  }
  
  .social-wrap{
    text-align: center;
  }
  .social-wrap img{
    height: 50px;
    padding:20px;
  }
}


/* NExt media screen 320-375 mobile mediam*/


@media screen and (min-width:321px) and (max-width:376px)
{
  .container{
    height: 510px;
    margin:0;
   }
 
  h1{
     font-size: 1.2em;
     margin: 0;
   }
  
  .img_wrap{
    padding-left: 0px;
    height: 100px;
    margin:0;
  }
  
  .main_img{
    height: 100px;
  }
    
  .img_wrap h2{
    font-size: 0.9em;
    width: 260px;
    margin-top: 45px;
    margin-right:0px;
    text-align: left;
    margin-left: 125px;
  }
  
  .navbar{
    padding:2px;
    margin:0;
  }
    
  .navbar a{
    padding: 10px;
    font-size: 0.8em;
    line-height: 3;
  }

  .sub-head{
    margin:0px;
    padding:20px;
    border:2px solid grey;
    font-size: 1.5em !important;
  }

  .main-content{
    max-width: 100%;
    margin:0px;
    margin-top: 0 !important;
    height: 80px;
    border: 2px solid grey;
    border-top: 3px solid grey;
    padding:30px 20px;
    position: relative;
  }
  
  .social-wrap{
    text-align: center;
  }
  .social-wrap img{
    height: 45px;
    padding:20px;
  }
}

/* For my Phone */

@media screen and (min-width:383px) and (max-width:425px) and (max-height:764px)
{
  .container{
    height: 720px;
    margin:0;
   }
 
  h1{
     font-size: 1.5em;
     margin: 0;
   }
  
  .img_wrap{
    padding-left: 0px;
    height: 100px;
    margin:0;
  }
  
  .main_img{
    height: 100px;
  }
    
  .img_wrap h2{
    font-size: 1em;
    width: 260px;
    margin-top: 45px;
    margin-right:0px;
    text-align: left;
    margin-left: 125px;
  }
  
  .navbar{
    padding:10px;
    margin:0;
  }
    
  .navbar a{
    padding: 10px;
    font-size: 1em;
    line-height: 3;
  }

  .sub-head{
    margin:0px;
    padding:20px;
    border:2px solid grey;
    font-size: 1.4em !important;
  }
  
  .main-content{
    max-width: 100%;
    margin:0px;
    margin-top: 0 !important;
    height: 80px;
    border: 2px solid grey;
    border-top: 3px solid grey;
    padding:30px 20px;
    position: relative;
  }
  
  .social-wrap{
    text-align: center;
  }
  .social-wrap img{
    height: 45px;
    padding:20px;
  }

}